td, th{
    vertical-align: middle;
    text-align: center;
}

.input-group{
    margin: 20px;
}

svg{
    height: 150px;
    width: 160px;
}
td:first-child > div{
    width: 200px;
    height: 250px;
}